// COLORS! According to the Name That Color project: https://chir.ag/projects/name-that-color/

// GRAYSCALE
$white: #fff;
$gallery: #eee;
$alto: #ddd;
$silver: #ccc;
$dark-silver: #bbb;     	// off-brand
$silver-chalice: #aaa;
$dusty-gray: #999;
$gray: #888;
$boulder: #777;
$dove-gray: #666;
$emperor: #555;
$tundora: #444;
$mineshaft: #333;
$cod-mine: #222;            // off-brand
$cod-gray: #111;
$black: #000;

$alabaster: #fafafa;
$mercury: #e8e8e8;

$san-marino: #4b71b5;
$tall-poppy: #B32D29;
