$alabaster: #fafafa;
$mercury: #e8e8e8;
$silver: #ccc;
$dusty-gray: #999;
$gray: #888;
$dove-gray: #666;
$tundora: #444;
$mineshaft: #333;
$cod-mine: #222;
$cod-gray: #111;

$san-marino: #4b71b5;
$tall-poppy: #B32D29;

@mixin dark-on-light {
    color: $mineshaft;
    background: $silver;
}

@mixin light-on-dark {
    color: $mercury;
    background: $mineshaft;
}

@mixin shy-text {
    color: $dusty-gray;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin input-text {
    padding: 10px;
    border-radius: 5px;
    background-color: $tundora;
    border-style: none;
    text-shadow: none;
    outline: none;
}

@mixin button-submit {
    @include shy-text;

    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-shadow: none;
    text-transform: uppercase;
    background-color: $tundora;

    &:hover {
        cursor: pointer;
        background: $san-marino;
        color: $alabaster;
    }
}

html, body {
    @include dark-on-light;

    margin: 0;
    font-family: arial;
    text-transform: uppercase;

    a {
        font-size: 0.6rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        color: $tundora;
        text-decoration: none;
    }

    a:hover {
        color: $silver;
    }

    a:visited {
        color: $tundora;
    }

    a.selected, a:hover {
        color: $gray;
    }

    .git-link {
        padding: 0.5em;
    }

    .checkbook {
        @include light-on-dark;

        min-width: 500px;
        max-width: 60rem;
        margin: 2% auto auto auto;
        box-shadow: 0 4px 0px $tundora;
        border-radius: 5px;

        .header {
            padding: 5px 10px;
            text-align: center;
            display: flex;
            align-items: center;
            background-color: $cod-mine;
            border-radius: 5px 5px 0 0;
            border-bottom: solid 2px $tundora;
        }

        .header h1 {
            flex-grow: 1;
            font-size: 2.5rem;
            letter-spacing: 0.5rem;
            font-weight: normal;
            font-family: georgia;
        }

        .balance {
            margin-top: 0;
        }

        .balance td {
            font-size: .7em;
            text-align: right;
            letter-spacing: 2px;
        }

        .balance td:first-child {
            font-weight: normal;
            color: #666;
        }

        .balance td:last-child {
            padding: 0px 20px;
            font-size: 1.2em;
            font-family: courier;
            font-weight: bold;
        }

        .item {
            display: flex;
            font-size: 0.9em;
            letter-spacing: 2px;
            border-bottom: solid 2px $tundora;
        }

        .item-date {
            padding: 10px;
            width: 100px;
        }

        .item-name {
            flex-grow: 1;
            padding: 10px;
            text-align: left;
            width: auto;
        }

        .item-amount {
            @include dark-on-light();

            display: flex;
            justify-content: space-between;
            width: 10em;
            padding: 0;


            .amount {
                padding: 10px;
                font-family: courier;
                font-weight: bold;
            }

            a .remove {
                cursor: pointer;
            }

            .remove {
                visibility: hidden;

                width: 2em;
                height: 100%;
                text-align: right;
                display: flex;
                justify-content: right;
                align-items: center;

                color: $tall-poppy;
                font-weight: 800;
                font-size: 1.5em;

                span {
                    padding-right: 3px;
                }
            }

            &:hover .remove{
                visibility: visible;
            }
        }

        .add-transaction-form form {
            display: flex;
            background-color: $cod-mine;
            border-radius: 0 0 5px 5px
        }

        .add-transaction-form #input-name {
            flex-grow: 1;
        }

        .add-transaction-form #input-amount {
            width: 70px;
        }

        .add-transaction-form input[type=text] {
            @include shy-text();
            @include input-text();

            border-width: 0 0 1px 0;
            margin: 15px 10px 15px 15px;
        }

        .add-transaction-form input[type=text]::-webkit-input-placeholder{
            @include shy-text;
        }

        .add-transaction-form input[type=submit] {
            @include button-submit;

            margin: 15px 15px 15px 0;
        }
    }
}
